body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  font-family: sans-serif;
  box-sizing: border-box;
}

.side-panel {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  padding: 20px;
}

.side-panel h2 {
  margin-bottom: 60px;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
}

ul {
  margin-bottom: 60px;
}

.container {
  background-color: lightgray;
}

.container-header {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.container-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.container-header-bottom {
  display: flex;
  justify-content: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.user,
.right,
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.container-content {
  display: flex;
  padding: 0;
}

.projects {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
  border-radius: 20px;
  padding: 30px;
  border-left: 6px solid red;
}

.icons {
  text-align: right;
}

.news {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 0;
}
.announcements-card {
  background-color: white;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
  border-radius: 20px;
  padding: 20px;
}

.trending-card {
  background-color: white;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
  border-radius: 20px;
  padding: 20px;
}

.trending-item {
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

svg {
  width: 25px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
}

.side-panel svg {
  fill: white;
  margin-right: 10px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 100px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkblue;
}

input {
  height: 30px;
  border-radius: 10px;
  padding: 0 20px;
  width: 500px;
}
